{
  "presets": [
    [
      "env", {
        "modules": false // for react-hot-loader
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "react-html-attrs",
    "react-hot-loader/babel",
    "transform-decorators-legacy" // Для использования декораторв
  ]
}